# Coursera Capstone Project 

&nbsp;

### Introduction

![Mumbai City](https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Victoria_Terminus%2C_Mumbai.jpg/650px-Victoria_Terminus%2C_Mumbai.jpg "Mumbai City")

Mumbai (formerly known as Bombay) is one of the top metro cities of India with rich heritage and culture. Indian Institute of Technology Bombay (IIT Bombay) situated in Mumbai, is a public engineering institution known for best education facilities in India. 


### Problem Statement
&nbsp;

<img src="http://www.iitb.ac.in/sites/default/files/styles/gallery_item/public/IITB%20First%20Convocation.jpg" width=600>


Lots of students stay away from their homes during their 4 year tenure of study a IIT Bombay. Being a student at IIT Bombay, I would like to reside in the neighbourhood of the institution. I will explore the venues of each neighbourhood of the institution and look for the neighbourhoods having ample hostels, malls, restaurants, departmental stores, book stores and tranportation etc. The best neighbourhood according to my preference would be my first choice for stay during my entire study term at IIT Bombay. :D This analysis may help students who wish to reside nearby IIT Bombay Campus.

# IIT Bombay Neighbourhoods Data
&nbsp;

I downloaded the required data from a website published by government of india. Here is a link to the website... https://data.gov.in/resources/all-india-pincode-directory-contact-details-along-latitude-and-longitude.

This csv file, contains the list of pincodes of all cities of India, officenames (post office), the head office (HO) names of each officename etc. The Latitude and Longitude columns are incomplete for most areas. So, I will try to fill it with the help of Geopy. I am using Foursquare API to get the venues of each neighbourhood of the institution.

As I need only the details of 'Mumbai' city and 'Chembur' area in Mumbai of which IIT Bombay Campus is a sub-area, I filtered the dataframe accordingly.


I have converted the csv file to pandas dataframe and displayed the  head of dataframe below. Further data formatting steps are given below. Thank you!

In [1]:
import pandas as pd
india_data = pd.read_csv('C:\\Users\\sree2\\Downloads\\india.csv',header=0)
india_data.head()

,officename,pincode,officeType,Deliverystatus,divisionname,regionname,circlename,Taluk,Districtname,statename,Telephone,Related Suboffice,Related Headoffice,longitude,latitude
0,Achalapur B.O,504273,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Asifabad,Adilabad,TELANGANA,NaN,Rechini S.O,Mancherial H.O,NaN,NaN
1,Ada B.O,504293,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Asifabad,Adilabad,TELANGANA,NaN,Asifabad S.O,Mancherial H.O,NaN,NaN
2,Adegaon B.O,504307,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Boath,Adilabad,TELANGANA,NaN,Echoda S.O,Adilabad H.O,NaN,NaN
3,Adilabad Collectorate S.O,504001,S.O,Non-Delivery,Adilabad,Hyderabad,Andhra Pradesh,Adilabad,Adilabad,TELANGANA,08732-226703,NaN,Adilabad H.O,NaN,NaN
4,Adilabad H.O,504001,H.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Adilabad,Adilabad,TELANGANA,08732-226738,NaN,NaN,NaN,NaN

### Formatting and cleaning data
1. We need the data pertaining to Districtname= 'Mumbai', so I will filter only the rows having Districtname= "Mumbai".
2. Since IIT Bombay's Related HeadOffice is "Chembur" , we will keep the part of dataframe having Related HeadOffice= "Chembur".
3. Next we will, keep the columns officename, pincode, longitude, latitude
4. We check for multiple occurences of each pincode 
5. We rename the column 'officename' as 'neighborhood' and combine the neighborhoods having same pincode with a ','

In [2]:
# 1.
mumbai_data=india_data[india_data.Districtname.str.contains("Mumbai") == True]
mumbai_data.head()

,officename,pincode,officeType,Deliverystatus,divisionname,regionname,circlename,Taluk,Districtname,statename,Telephone,Related Suboffice,Related Headoffice,longitude,latitude
81395,Antop Hill S.O,400037,S.O,Delivery,Mumbai East,Mumbai,Maharashtra,Mumbai,Mumbai,MAHARASHTRA,022-24120290,NaN,Dadar H.O,NaN,NaN
81396,B P T Colony S.O,400037,S.O,Non-Delivery,Mumbai East,Mumbai,Maharashtra,Mumbai,Mumbai,MAHARASHTRA,022-4100525,NaN,Dadar H.O,NaN,NaN
81397,B.P.Lane S.O,400003,S.O,Non-Delivery,Mumbai East,Mumbai,Maharashtra,NaN,Mumbai,MAHARASHTRA,022-23421653,NaN,Chinchbunder H.O,NaN,NaN
81398,BEST STaff Quarters S.O,400012,S.O,Non-Delivery,Mumbai East,Mumbai,Maharashtra,NaN,Mumbai,MAHARASHTRA,022-24180776,NaN,Chinchbunder H.O,NaN,NaN
81399,C G S Colony S.O,400037,S.O,Non-Delivery,Mumbai East,Mumbai,Maharashtra,Mumbai,Mumbai,MAHARASHTRA,022-24097933,NaN,Dadar H.O,NaN,NaN

In [3]:
# 2.
mumbai_data= mumbai_data.rename(columns = {"Related Headoffice": "relatedHeadoffice"}) 
iit_data=mumbai_data[mumbai_data.relatedHeadoffice.str.contains("Chembur")== True]
iit_data.head()

,officename,pincode,officeType,Deliverystatus,divisionname,regionname,circlename,Taluk,Districtname,statename,Telephone,Related Suboffice,relatedHeadoffice,longitude,latitude
81471,Anushakti Nagar S.O,400094,S.O,Delivery,Mumbai North East,Mumbai,Maharashtra,NaN,Mumbai,MAHARASHTRA,022-25517841,NaN,Chembur H.O,NaN,NaN
81472,BARC S.O,400085,S.O,Delivery,Mumbai North East,Mumbai,Maharashtra,NaN,Mumbai,MAHARASHTRA,022-25505213,NaN,Chembur H.O,NaN,NaN
81473,Barve Nagar S.O,400084,S.O,Delivery,Mumbai North East,Mumbai,Maharashtra,NaN,Mumbai,MAHARASHTRA,022-25129862,NaN,Chembur H.O,NaN,NaN
81474,Best Staff Colony S.O,400075,S.O,Non-Delivery,Mumbai North East,Mumbai,Maharashtra,NaN,Mumbai,MAHARASHTRA,022-25024536,NaN,Chembur H.O,NaN,NaN
81475,Bhandup Complex S.O,400082,S.O,Delivery,Mumbai North East,Mumbai,Maharashtra,NaN,Mumbai,MAHARASHTRA,022-25962436,NaN,Chembur H.O,NaN,NaN

In [4]:
# 3.
iit_data=iit_data[['officename','pincode','longitude','latitude']].reset_index()
iit_data=iit_data.drop(['index'], axis = 1)
iit_data.head()

              officename  pincode  longitude  latitude
0    Anushakti Nagar S.O   400094        NaN       NaN
1               BARC S.O   400085        NaN       NaN
2        Barve Nagar S.O   400084        NaN       NaN
3  Best Staff Colony S.O   400075        NaN       NaN
4    Bhandup Complex S.O   400082        NaN       NaN

In [5]:
# 4.
iit_data['pincode'].value_counts()

400078    5
400080    5
400074    3
400075    3
400088    3
400086    3
400043    2
400081    2
400079    2
400082    2
400083    2
400089    2
400042    1
400084    1
400085    1
400087    1
400077    1
400076    1
400094    1
400071    1
Name: pincode, dtype: int64

In [6]:
# 5.
iit_data= iit_data.groupby(['pincode'])['officename'].apply(', '.join).reset_index()
iit_data= iit_data.rename(columns = {"officename": "neighborhood"}) 
iit_data

    pincode                                       neighborhood
0    400042                                   Bhandup East S.O
1    400043        D.M. Colony S.O, Shivaji Nagar S.O (Mumbai)
2    400071                                 Sindhi Society S.O
3    400074     Chembur Extension S.O, FCI S.O, Mahul Road S.O
4    400075  Best Staff Colony S.O, Pant Nagar S.O, R.A.Nag...
5    400076                                      Powai Iit S.O
6    400077                                       Rajawadi S.O
7    400078  Bhandup Ind. Estate S.O, Bhandup West S.O, J.M...
8    400079                       Psm Colony S.O, Vikhroli S.O
9    400080  Mulund Dd Road S.O, Mulund West S.O, Nahur S.O...
10   400081                  Mhada Colony S.O, Mulund East S.O
11   400082             Bhandup Complex S.O, Mulund Colony S.O
12   400083              Kannamwar Nagar S.O, Tagore Nagar S.O
13   400084                                    Barve Nagar S.O
14   400085                                           BARC S.O
15   400086  Ghatkopar West S.O, Rifle Range S.O, Sahakar B...
16   400087                                          NITIE S.O
17   400088            Govandi S.O, T.F.Donar S.O, Trombay S.O
18   400089           Chembur Rs S.O, Tilak Nagar S.O (Mumbai)
19   400094                                Anushakti Nagar S.O

# Geopy for finding Latitudes and Longitudes

In [7]:
# importing some stuff!!!!
import requests 

import numpy as np 
import random 

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim


from IPython.display import Image 
from IPython.core.display import HTML 
    

from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium 
print('Folium installed')
print('Libraries imported.')

Solving environment: ...working... done

# All requested packages already installed.

==> WARNING: A newer version of conda exists. <==
  current version: 4.4.10
  latest version: 4.8.1

Please update conda by running

    $ conda update -n base conda

Solving environment: ...working... done

# All requested packages already installed.

Folium installed
Libraries imported.

==> WARNING: A newer version of conda exists. <==
  current version: 4.4.10
  latest version: 4.8.1

Please update conda by running

    $ conda update -n base conda

In [8]:
#converting pincode to str type
iit_data=iit_data.astype({"pincode": str})
iit_data.dtypes

pincode         object
neighborhood    object
dtype: object

In [9]:
#adding columns latitude, longitude and address
iit_data["latitude"]=""
iit_data["longitude"]=""
iit_data['address']=""
iit_data.head()

,pincode,neighborhood,latitude,longitude,address
0,400042,Bhandup East S.O,,,
1,400043,"D.M. Colony S.O, Shivaji Nagar S.O (Mumbai)",,,
2,400071,Sindhi Society S.O,,,
3,400074,"Chembur Extension S.O, FCI S.O, Mahul Road S.O",,,
4,400075,"Best Staff Colony S.O, Pant Nagar S.O, R.A.Nag...",,,

In [12]:
#getting latitude longitude and address
!pip install pgeocode
import pgeocode
country_code = 'in'
for index, row in iit_data.iterrows():
    
    pin_code=row['pincode']
    nomi = pgeocode.Nominatim(country_code)
    place_details = nomi.query_postal_code(pin_code)
    row['latitude']=place_details.latitude
    row['longitude']=place_details.longitude
    row['address']=place_details.place_name

iit_data.head()

Requirement already satisfied: pgeocode in c:\users\sree2\anaconda3\lib\site-packages
Requirement already satisfied: pandas in c:\users\sree2\anaconda3\lib\site-packages (from pgeocode)
Requirement already satisfied: requests in c:\users\sree2\anaconda3\lib\site-packages (from pgeocode)
Requirement already satisfied: numpy in c:\users\sree2\anaconda3\lib\site-packages (from pgeocode)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\sree2\anaconda3\lib\site-packages (from pandas->pgeocode)
Requirement already satisfied: pytz>=2011k in c:\users\sree2\anaconda3\lib\site-packages (from pandas->pgeocode)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\sree2\anaconda3\lib\site-packages (from requests->pgeocode)
Requirement already satisfied: idna<2.7,>=2.5 in c:\users\sree2\anaconda3\lib\site-packages (from requests->pgeocode)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in c:\users\sree2\anaconda3\lib\site-packages (from requests->pgeocode)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sree2\anaconda3\lib\site-packages (from requests->pgeocode)
Requirement already satisfied: six>=1.5 in c:\users\sree2\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas->pgeocode)

You are using pip version 9.0.1, however version 19.3.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

,pincode,neighborhood,latitude,longitude,address
0,400042,Bhandup East S.O,19.0832,72.8748,Bhandup East
1,400043,"D.M. Colony S.O, Shivaji Nagar S.O (Mumbai)",18.9596,72.8875,"Shivaji Nagar (Mumbai), D.M. Colony"
2,400071,Sindhi Society S.O,19.0931,72.9049,"Sindhi Society, Chembur H.O"
3,400074,"Chembur Extension S.O, FCI S.O, Mahul Road S.O",19.0931,72.9049,"FCI, Chembur Extension, Mahul Road"
4,400075,"Best Staff Colony S.O, Pant Nagar S.O, R.A.Nag...",19.0931,72.9049,"R.A.Nagar, Best Staff Colony, Pant Nagar"

In [13]:
#removing neighbourhood column (address' are too generalized) and renaming adress column to neighbourhood
iit_data=iit_data.drop(['neighborhood'], axis = 1)
iit_data=iit_data.rename(columns = {"address": "neighborhood"})
iit_data.head()

  pincode latitude longitude                              neighborhood
0  400042  19.0832   72.8748                              Bhandup East
1  400043  18.9596   72.8875       Shivaji Nagar (Mumbai), D.M. Colony
2  400071  19.0931   72.9049               Sindhi Society, Chembur H.O
3  400074  19.0931   72.9049        FCI, Chembur Extension, Mahul Road
4  400075  19.0931   72.9049  R.A.Nagar, Best Staff Colony, Pant Nagar

In [14]:
#moving neighborhood column to front of the dataframe
data = iit_data['neighborhood']
iit_data.drop(labels=['neighborhood'], axis=1,inplace = True)
iit_data.insert(0, 'neighborhood', data)
iit_data

,neighborhood,pincode,latitude,longitude
0,Bhandup East,400042,19.0832,72.8748
1,"Shivaji Nagar (Mumbai), D.M. Colony",400043,18.9596,72.8875
2,"Sindhi Society, Chembur H.O",400071,19.0931,72.9049
3,"FCI, Chembur Extension, Mahul Road",400074,19.0931,72.9049
4,"R.A.Nagar, Best Staff Colony, Pant Nagar",400075,19.0931,72.9049
5,Powai Iit,400076,19.0931,72.9049
6,Rajawadi,400077,18.9596,72.8496
7,"J.M. Road, Usha Nagar, Bhandup Ind. Estate, P....",400078,19.0931,72.9049
8,"Vikhroli, Psm Colony",400079,18.9596,72.8881
9,"Mulund Dd Road, Nahur, Mulund West, S.B. Road,...",400080,19.176,72.9317
10,"Mhada Colony, Mulund East",400081,19.1649,72.9052
11,"Bhandup Complex, Mulund Colony",400082,19.1247,72.9488
12,"Kannamwar Nagar, Tagore Nagar",400083,19.1247,72.9488
13,Barve Nagar,400084,19.1247,72.9488
14,BARC,400085,19.1247,72.9488
15,"Ghatkopar West, Rifle Range, Sahakar Bhavan",400086,19.1247,72.9488
16,NITIE,400087,19.1247,72.9488
17,"T.F.Donar, Trombay, Govandi",400088,19.0333,72.9054
18,"Tilak Nagar (Mumbai), Chembur Rs",400089,19.1247,72.9488
19,Anushakti Nagar,400094,19.2361,72.8338

In [37]:
#map of Mumbai neighborhoods!!
address = 'Mumbai'

geolocator = Nominatim(user_agent="mumbai_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude

map_iit = folium.Map(location=[latitude, longitude], zoom_start=10)
for lat, lng, label in zip(iit_data['latitude'], iit_data['longitude'], iit_data['neighborhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=7,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_iit)  
    
map_iit

# Foursquare API to get Venues

In [22]:
#credentials!!
CLIENT_ID = 'OB1EDINQLYDSPTH5KCDKXYU2TNPRYEOFHWNIOBCZI10GCVDH' # Foursquare ID
CLIENT_SECRET = 'ZF0HNFOHBFATCDIS512XEBZTF4HXGSWMMHMLPKI31BXY35X2' # Foursquare Secret
VERSION = '20200117'

In [23]:
#function to get nearby venues of each neighbourhood of iit Bombay
LIMIT=100
radius=500

def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
       
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        
        results = requests.get(url).json()["response"]["groups"][0]["items"]
        
       
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [24]:
#running the above function
iit_venues = getNearbyVenues(names=iit_data['neighborhood'],
                                 latitudes=iit_data['latitude'],
                                 longitudes=iit_data['longitude'])

Bhandup East
Shivaji Nagar (Mumbai), D.M. Colony
Sindhi Society, Chembur H.O
FCI, Chembur Extension, Mahul Road
R.A.Nagar, Best Staff Colony, Pant Nagar
Powai Iit
Rajawadi
J.M. Road, Usha Nagar, Bhandup Ind. Estate, P.H. Colony, Bhandup West
Vikhroli, Psm Colony
Mulund Dd Road, Nahur, Mulund West, S.B. Road, Nehru Road (Mumbai)
Mhada Colony, Mulund East
Bhandup Complex, Mulund Colony
Kannamwar Nagar, Tagore Nagar
Barve Nagar
BARC
Ghatkopar West, Rifle Range, Sahakar Bhavan
NITIE
T.F.Donar, Trombay, Govandi
Tilak Nagar (Mumbai), Chembur Rs
Anushakti Nagar

In [25]:
iit_venues.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Bhandup East,19.0832,72.8748,Lufthansa Lounge (Star Alliance),19.083919,72.875361,Airport Lounge
1,Bhandup East,19.0832,72.8748,Body Shop,19.082779,72.871439,Cosmetics Shop
2,Bhandup East,19.0832,72.8748,Mahesh Stores,19.080775,72.871885,Grocery Store
3,Bhandup East,19.0832,72.8748,Head Quarters,19.085998,72.871951,Beer Garden
4,"Sindhi Society, Chembur H.O",19.0931,72.9049,vagadwala bus stop,19.092878,72.901088,Bus Station

In [26]:
#one hot encoding
iit_onehot = pd.get_dummies(iit_venues[['Venue Category']], prefix="", prefix_sep="")
iit_onehot.head()

,Airport Lounge,Beer Garden,Bus Station,Clothing Store,Cosmetics Shop,Dessert Shop,Grocery Store,Movie Theater,Music Venue,Playground
0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0

In [27]:
iit_onehot['Neighborhood'] = iit_venues['Neighborhood'] 
# moving neighborhood column to the first column
fixed_columns = [iit_onehot.columns[-1]] + list(iit_onehot.columns[:-1])
iit_onehot = iit_onehot[fixed_columns]
iit_onehot.head()

,Neighborhood,Airport Lounge,Beer Garden,Bus Station,Clothing Store,Cosmetics Shop,Dessert Shop,Grocery Store,Movie Theater,Music Venue,Playground
0,Bhandup East,1,0,0,0,0,0,0,0,0,0
1,Bhandup East,0,0,0,0,1,0,0,0,0,0
2,Bhandup East,0,0,0,0,0,0,1,0,0,0
3,Bhandup East,0,1,0,0,0,0,0,0,0,0
4,"Sindhi Society, Chembur H.O",0,0,1,0,0,0,0,0,0,0

In [28]:
iit_grouped = iit_onehot.groupby('Neighborhood').mean().reset_index()
iit_grouped.head()

,Neighborhood,Airport Lounge,Beer Garden,Bus Station,Clothing Store,Cosmetics Shop,Dessert Shop,Grocery Store,Movie Theater,Music Venue,Playground
0,BARC,0.00,0.00,0.0,0.5,0.00,0.0,0.00,0.5,0.0,0.0
1,Barve Nagar,0.00,0.00,0.0,0.5,0.00,0.0,0.00,0.5,0.0,0.0
2,"Bhandup Complex, Mulund Colony",0.00,0.00,0.0,0.5,0.00,0.0,0.00,0.5,0.0,0.0
3,Bhandup East,0.25,0.25,0.0,0.0,0.25,0.0,0.25,0.0,0.0,0.0
4,"FCI, Chembur Extension, Mahul Road",0.00,0.00,0.5,0.0,0.00,0.0,0.00,0.0,0.0,0.5

In [29]:
#getting top 5 venues for each neighborhood
num_top_venues = 5

for hood in iit_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = iit_grouped[iit_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----BARC----
            venue  freq
0  Clothing Store   0.5
1   Movie Theater   0.5
2  Airport Lounge   0.0
3     Beer Garden   0.0
4     Bus Station   0.0


----Barve Nagar----
            venue  freq
0  Clothing Store   0.5
1   Movie Theater   0.5
2  Airport Lounge   0.0
3     Beer Garden   0.0
4     Bus Station   0.0


----Bhandup Complex, Mulund Colony----
            venue  freq
0  Clothing Store   0.5
1   Movie Theater   0.5
2  Airport Lounge   0.0
3     Beer Garden   0.0
4     Bus Station   0.0


----Bhandup East----
            venue  freq
0  Airport Lounge  0.25
1     Beer Garden  0.25
2  Cosmetics Shop  0.25
3   Grocery Store  0.25
4     Bus Station  0.00


----FCI, Chembur Extension, Mahul Road----
            venue  freq
0     Bus Station   0.5
1      Playground   0.5
2  Airport Lounge   0.0
3     Beer Garden   0.0
4  Clothing Store   0.0


----Ghatkopar West, Rifle Range, Sahakar Bhavan----
            venue  freq
0  Clothing Store   0.5
1   Movie Theater   0.5
2  Airport Lounge   0.0
3     Beer Garden   0.0
4     Bus Station   0.0


----J.M. Road, Usha Nagar, Bhandup Ind. Estate, P.H. Colony, Bhandup West----
            venue  freq
0     Bus Station   0.5
1      Playground   0.5
2  Airport Lounge   0.0
3     Beer Garden   0.0
4  Clothing Store   0.0


----Kannamwar Nagar, Tagore Nagar----
            venue  freq
0  Clothing Store   0.5
1   Movie Theater   0.5
2  Airport Lounge   0.0
3     Beer Garden   0.0
4     Bus Station   0.0


----Mulund Dd Road, Nahur, Mulund West, S.B. Road, Nehru Road (Mumbai)----
            venue  freq
0    Dessert Shop   0.5
1     Music Venue   0.5
2  Airport Lounge   0.0
3     Beer Garden   0.0
4     Bus Station   0.0


----NITIE----
            venue  freq
0  Clothing Store   0.5
1   Movie Theater   0.5
2  Airport Lounge   0.0
3     Beer Garden   0.0
4     Bus Station   0.0


----Powai Iit----
            venue  freq
0     Bus Station   0.5
1      Playground   0.5
2  Airport Lounge   0.0
3     Beer Garden   0.0
4  Clothing Store   0.0


----R.A.Nagar, Best Staff Colony, Pant Nagar----
            venue  freq
0     Bus Station   0.5
1      Playground   0.5
2  Airport Lounge   0.0
3     Beer Garden   0.0
4  Clothing Store   0.0


----Sindhi Society, Chembur H.O----
            venue  freq
0     Bus Station   0.5
1      Playground   0.5
2  Airport Lounge   0.0
3     Beer Garden   0.0
4  Clothing Store   0.0


----Tilak Nagar (Mumbai), Chembur Rs----
            venue  freq
0  Clothing Store   0.5
1   Movie Theater   0.5
2  Airport Lounge   0.0
3     Beer Garden   0.0
4     Bus Station   0.0

In [30]:
#function to return sorted venues
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [36]:
# getting top 10 venues
num_top_venues = 10

indicators = ['st', 'nd', 'rd']


columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))


neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = iit_grouped['Neighborhood']

for ind in np.arange(iit_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(iit_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,BARC,Movie Theater,Clothing Store,Playground,Music Venue,Grocery Store,Dessert Shop,Cosmetics Shop,Bus Station,Beer Garden,Airport Lounge
1,Barve Nagar,Movie Theater,Clothing Store,Playground,Music Venue,Grocery Store,Dessert Shop,Cosmetics Shop,Bus Station,Beer Garden,Airport Lounge
2,"Bhandup Complex, Mulund Colony",Movie Theater,Clothing Store,Playground,Music Venue,Grocery Store,Dessert Shop,Cosmetics Shop,Bus Station,Beer Garden,Airport Lounge
3,Bhandup East,Grocery Store,Cosmetics Shop,Beer Garden,Airport Lounge,Playground,Music Venue,Movie Theater,Dessert Shop,Clothing Store,Bus Station
4,"FCI, Chembur Extension, Mahul Road",Playground,Bus Station,Music Venue,Movie Theater,Grocery Store,Dessert Shop,Cosmetics Shop,Clothing Store,Beer Garden,Airport Lounge